#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 480px;
    }
  
    #movies .col-md-3 img{
      height:240px;
    }
}
body {
  background-color: #333;
  color:white;
}
.jumbotron {
  background-color: rgba(255, 255, 255, 0.10);
  box-shadow: 1px 1px 5px white;
}
.navbar-brand {
  color: white;
}
.list-group {
  background-color: #333;
}
#pageup {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pagedown {
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  }