#movies img, #movie img{
    width:100%;
  }
  
  @media(min-width:960px){
    #movies .col-md-3 .well{
      height: 480px;
      
    }
  
    #movies .col-md-3 img{
      height:240px;
     
    }
}
body {
  background-image: url('stars.jpg');
  background-color: #333;
  color:white;
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0.20);
  box-shadow: inset 1px 1px 5px 1px white;
}
.navbar-brand {
  color: white;
}
.list-group {
  background-color: #333;
}

.text-center:focus  {
  outline:none !important;
}